In [6]:
import pandas as pd
df = pd.read_csv("dataset.csv")

In [7]:
df

      AP1  AP2  AP3  AP4  AP5  AP6  AP7  Class
0     -64  -56  -61  -66  -71  -82  -81      1
1     -68  -57  -61  -65  -71  -85  -85      1
2     -63  -60  -60  -67  -76  -85  -84      1
3     -61  -60  -68  -62  -77  -90  -80      1
4     -63  -65  -60  -63  -77  -81  -87      1
...   ...  ...  ...  ...  ...  ...  ...    ...
1995  -59  -59  -48  -66  -50  -86  -94      4
1996  -59  -56  -50  -62  -47  -87  -90      4
1997  -62  -59  -46  -65  -45  -87  -88      4
1998  -62  -58  -52  -61  -41  -90  -85      4
1999  -59  -50  -45  -60  -45  -88  -87      4

[2000 rows x 8 columns]

In [8]:
df['Class'].unique()

array([1, 2, 3, 4])